# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/out/
.idea/
Instruction.png
JavaRushPlugin.properties
JavaRushTasks.iml

!/out.log
!/out.log.1
